@page
@model SE_Project.Pages.AboutUsModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Management System</title>
    <link rel="stylesheet" href="/css/AboutUS.css">
</head>
<body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">

        <div class="column">
            <div class="card">
                <img src="/images/Tayyab.png" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Tayyab</h2>
                    <p class="title">Backend Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>i210378@nu.edu.pk</p>
                    
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/images/Huzaifa.png" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Huzaifa Tahir</h2>
                    <p class="title">Frontend Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>i210586@nu.edu.pk</p>
                    
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/images/Ibrahim.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>Ibrahim</h2>

                    <h2>Ibrahim</h2>
                    <p class="title">Backend Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>i210797@nu.edu.pk</p>
                  
                </div>
            </div>
        </div>
    </div>
</body>
</html>
